@model ForgetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <br />
    <br />
    <h2 style="text-align:center;">Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Mail adresinizi giriniz:</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <button class="btn btn-outline-warning">Gönder</button>
    </form>
</body>
</html>


