@model EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Rol Düzenle</h5>
                <a class="btn btn-primary" href="/Admin/Role/Index/">Geri Dön</a>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="RoleID"/>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Rol Adı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bxs-face-mask"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       placeholder="Rol Adı"
                                       aria-label="Rol Adı"
                                       aria-describedby="basic-icon-default-fullname2" asp-for="RoleName" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

