
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Pdf Raporları</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <tr>
                            <td><a href="/Pdf/StaticPdfReport/">Statik Pdf Raporu İndir</a></td>
                        </tr>
                        <tr>
                            <td><a href="/Pdf/StaticCustomerPdfReport/">Statik Müşteri Pdf Raporu İndir</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer" style="text-align:center;">
            </div>
        </div>
    </div>
</div>
