@model AnnouncementAddDTO
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Duyuru Ekle</h5>
                <a class="btn btn-primary" href="/Admin/Announcement/Index/">Geri Dön</a>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row mb-3">
                        <span asp-validation-for="AnnouncementTitle" class="text-danger"></span>
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Başlık</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       placeholder="Başlık"
                                       aria-label="Başlık"
                                       aria-describedby="basic-icon-default-fullname2" asp-for="AnnouncementTitle" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span asp-validation-for="AnnouncementContent" class="text-danger"></span>
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">İçerik</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="form-control"
                                          placeholder="İçerik"
                                          aria-label="İçerik"
                                          aria-describedby="basic-icon-default-message2" asp-for="AnnouncementContent"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

