<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal/assets/images/banner1.jpg", "/Traversal/assets/images/banner2.jpg","/Traversal/assets/images/banner3.jpg", "/Traversal/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Yeni seyahatler yeni ufuklar...</h3>
                        <h6 class="mb-3">Sıradaki tatilini planla</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="selectpicker" class="selectpicker">
                                            <option value="">Rotalar</option>
                                            <option value="africa">Afrika</option>
                                            <option value="america">Amerika</option>
                                            <option value="asia">Asya</option>
                                            <option value="eastern-europe">Doğu Avrupa</option>
                                            <option value="europe">Batı Avrupa</option>
                                            <option value="south-america">Güney Amerika</option>
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <input type="date" name="" required="">
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /main-slider -->