@model Destination
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Rota Ekle</h5>
                <a class="btn btn-primary" href="/Admin/Destination/Index/">Geri Dön</a>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Başlangıç Şehri</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-map"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       placeholder="Başlangıç şehri"
                                       aria-label="Başlangıç şehri"
                                       aria-describedby="basic-icon-default-fullname2" asp-for="DestinationStartingCity" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Varış Şehri</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-map"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       placeholder="Varış şehri"
                                       aria-label="Varış şehri"
                                       aria-describedby="basic-icon-default-fullname2" asp-for="DestinationCity" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Gün Sayısı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-sun"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="3 Gece 4 Gün"
                                       aria-label="3 Gece 4 Gün"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationDayNight" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Fiyat</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-money"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="1500"
                                       aria-label="1500"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationPrice" />
                                <span id="basic-icon-default-email2" class="input-group-text">$</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Ana Görsel</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-image"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="Ana Görsel"
                                       aria-label="Ana Görsel"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationImage" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Kapak Fotoğrafı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-image"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="Kapak Fotoğrafı"
                                       aria-label="Kapak Fotoğrafı"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationCoverImage" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Alt Görsel 1</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-image"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="Alt Görsel 1"
                                       aria-label="Alt Görsel 1"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationSubImage1" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Alt Görsel 2</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-image"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="Alt Görsel 2"
                                       aria-label="Alt Görsel 2"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationSubImage2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Tur Kapasitesi</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-body"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       placeholder="20"
                                       aria-label="20"
                                       aria-describedby="basic-icon-default-company2" asp-for="DestinationCapacity" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Tur Durumu</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <div class="form-check form-switch ps-0">
                                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked asp-for="DestinationStatus">
                                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Aktif</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Açıklama</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="form-control"
                                          placeholder="Açıklama"
                                          aria-label="Açıklama"
                                          aria-describedby="basic-icon-default-message2" asp-for="DestinationDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Detay 1</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="form-control"
                                          placeholder="Detay 1"
                                          aria-label="Detay 1"
                                          aria-describedby="basic-icon-default-message2" asp-for="DestinationDetails"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Detay 2</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="form-control"
                                          placeholder="Detay 2"
                                          aria-label="Detay 2"
                                          aria-describedby="basic-icon-default-message2" asp-for="DestinationDetails2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

