@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Rehberler (<strong><span class="align-items-sm-end">@Model.Count()</span></strong>)</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Adı Soyadı</th>
                                <th>Twitter Account</th>
                                <th>Instagram Account</th>
                                <th>Durum</th>
                                <th>Dahası</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div>
                                                <img src="~/guideimages/@item.GuideImage" class="avatar avatar-sm rounded-circle me-2" alt="Guide Image">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">@item.GuideName</p>
                                    </td>
                                    <td>
                                        <i class='bx bxl-twitter'></i><a target="_blank" href="@item.GuideTwitterURL">Hesaba Git</a>
                                    </td>
                                    <td>
                                        <i class='bx bxl-instagram'></i><a target="_blank" href="@item.GuideInstagramURL">Hesaba Git</a>
                                    </td>
                                    @if (item.GuideStatus == true)
                                    {
                                        <td><span class="badge bg-label-success me-1">Aktif</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge bg-label-danger me-1">Pasif</span></td>
                                    }

                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/Admin/Guide/EditGuide/@item.GuideID"><i class='bx bx-edit'></i> Düzenle</a>
                                                <a class="dropdown-item" onclick="return confirm('Silmek istediğinizden emin misiniz ?')" href="/Admin/Guide/DeleteGuide/@item.GuideID"><i class="bx bx-trash me-1"></i> Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer" style="text-align:center;">
                <a href="/Admin/Guide/AddGuide/" class="btn btn-primary">Yeni Rehber Ekle</a>
            </div>
        </div>
    </div>
</div>

